---
layout: base
react: true
---

{% assign constants = site.data.constants %}
{% assign author_info = site.data.authors[page.author] %}

{%- include react/root.html id='banner' -%}

<article itemscope itemtype="http://schema.org/BlogPosting">
 <div id="blogView" class='flex flex-col items-top mb-2'>
    <div class='2xl:grid 2xl:grid-cols-5 mx-2 sm:mx-8 lg:mx-[100px] flex flex-col gap-8 min-[2600px]:mx-auto min-[2600px]:max-w-[50vw]'>
        <div class='col-span-5 mt-4'>
            {%- include react/root.html id='breadcrumbs' -%}
        </div>
        <div class='col-span-1' id="author-data" >
            <div class='flex flex-row gap-2 2xl:flex-row'>
            <img src='{{author_info.avatar}}' alt='Author' class='w-20' />
            <div class='flex flex-col gap-4'>
                <p class='font-bold !mb-0'>{{author_info.name}}</p>
                <p class='max-w-[220px] text-wrap !mt-0 !mb-0'>{{author_info.bio}}</p>
            </div>
        </div>
        </div>
        <div class='col-span-3' id="tags-data" data-content="{{ page.tags | strip_newlines | escape }}">
            {%- include react/root.html id='tags' -%}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = constants.date_format | default: "%b %-d, %Y" -%}
              {{ page.type }} | {{ page.date | date: date_format }}
            </time>
            <h1 class='!pt-0 !mt-0 text-4xl font-bold text-gray-900 mt-8 mb-4'>{{page.title}}</h1>
               <div class="prose inline" itemprop="articleBody">
                {{ content }}
              </div>
              <div class="pt-8" id="references">
                {%- include react/root.html id='references-accordion' -%}
              </div>
        </div>
        <div class='col-span-5 2xl:col-span-1 2xl:w-full'>
            {%- include react/root.html id='read-next' -%}
        </div>
    </div>
</div>
</article>