---
layout: page
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  {%- include react/root.html id='blog-view' -%}

  <div id="blog-content" data-content="{{ content | escape }}"></div>

  <div
    id="blog-data"
    data-content='{
      "title": {{ page.title | strip_newlines | escape | jsonify }},
      "tags": {{ page.tags | strip_newlines | escape }},
      "type": {{ page.type | strip_newlines | escape | jsonify }},
      "date": {{ page.date | strip_newlines | escape | jsonify }},
      "theme": {{ page.filters.Theme | strip_newlines | escape | jsonify }},
      "author": {
        "name":{{author_info.name | strip_newlines | escape | jsonify}},
        "bio": {{author_info.bio | strip_newlines | escape | jsonify}},
        "url": {{author_info.avatar | strip_newlines | escape | jsonify}}
      }
    }'
  ></div>

</article>
