@tailwind base;
@tailwind components;
@tailwind utilities;

.text-on-white {
    color: #001C39;
}

.border-on-white {
    border-color: #001C39;
}

h2 {
    font-size: 28px!important;
    @apply font-bold
}